* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #000 ;
    
}

/*inicio de estilo de cajas*/

table {
    width: 100%; 
    border-collapse: collapse;
    margin: 0 auto;
    

}
/*color del encabezado de la tabla*/
.sup{
    background-color: #594c7e !important;

    
}

.caja, .caja {
    border: 1px solid #000; 
    padding: 10px;
    text-align: center;
}

.caja {
    background-color: #52473b;
}


/*fin de cajas*/
/*img otros productos*/
.otros_productos{
    width: 1200px;
    height: 1200px;
    text-align: initial;
}
.otros_productos_1{
    width: 350px;
    height: 350px;
    border:5px solid black;
    display: inline-block;
    margin:5px;
    vertical-align: top;
}
.otros_productos_1:active{
    width: 330px;
    height: 330px;
    border:5px solid black;
}
/*ENLACES*/

.enlaces {
    list-style: none;       
    padding: 0;              
    display: flex;           
}

.enlaces li {
    margin: 0px;  
      
       
}
.enlaces a{
    text-decoration: none;
    color: #292; 
    font-size: 20px;
}
header flex*/
header{
    display: flex;
    justify-content:center;
align-items: flex-end;
flex-wrap:wrap;
}
/*indice*/
.flex_a{
    flex: 1; /* Permite que crezcan y ocupen el espacio disponible */
    min-width: 100px; /
}

/* Media query para responsividad animation*/

@media (max-width: 76px) {
    table {
        width: 90%; 
    }
    .imgprincipal {
        height: auto; 
    }
}
h1{
    animation-name: luces;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes luces{
   0%{
color:#9dc74e;
    }
    100%{
color:#000;
    }
}