body {
    background-image: url('https://img.freepik.com/fotos-premium/muestra-poster-pelicula-hacker-fondo-rojo_901003-8609.jpg?w=360');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#a {
    transition: all 0.5s ease-in-out;
}
.aa{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
#a.show {
    display: block;
}

h4 {
    color: rgb(97, 97, 177) !important;
}

h2:hover {
    transform: scale(1.05);
    color: yellow;
    transition: all 1s;
}

h4:hover {
    transform: scale(1.05);
    color: yellow;
    transition: all 1s;
}

p:hover {
    color: rgb(82, 164, 175);
    transition: all 1s;
}

label {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button {
    background-color: rgb(94, 94, 221);
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    transition: transform .1s;
    background-color: rgb(4, 4, 248);
}

.a {
    background-image: url('https://play-lh.googleusercontent.com/d1u_6SFm7MP2rzVMdz_JdqiXqyB1LCR-rpdhCn-GKJXO0tQhaNMjYu7kStZYpSTdBg=w240-h480-rw');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.2);
    width: 350px;
    height: auto;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(178, 178, 243, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    border: 5px solid rgb(243, 240, 240);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation-name: a;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.a img {
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 5px solid black;
}

img:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

input:hover,
textarea:hover {
    background-color: rgb(178, 180, 182);
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}

input:focus,
textarea:focus {
    border: 1px solid rgb(94, 94, 221);
    outline: none;
    background-color: #f0f0f0;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.message {
    font-size: 16px;
    margin-top: 15px;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

@keyframes a {
    0% {
        border: 5px solid rgb(0, 0, 0);
    }

    100% {
        border: 5px solid rgb(243, 240, 240);
    }
}
